<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibinq.wemark.dao.UserDao">


    <insert id="save"  parameterType="com.ibinq.wemark.bean.User"  >
        INSERT  INTO w_user(username,password,deleted,create_time,update_time) VALUE (#{username},#{password},0,now(),now())
    </insert>
    <select id="getUserByUsername" resultType="com.ibinq.wemark.bean.User">
        SELECT id,username,`password`,email,phone,avatar description
        FROM w_user
        WHERE username=#{username}
    </select>
    <select id="getUserByEmail" resultType="com.ibinq.wemark.bean.User">
         SELECT id,username,`password`,email,phone,avatar description
        FROM w_user
        WHERE email=#{email}
    </select>
</mapper>